*.class

# Package Files #
*.jar
*.war
*.ear

# Eclipse files and dirs
.metadata
.project
.classpath
*.settings

# Maven build directory
target

# IntelliJ project files
.idea
*.iml

# Mac OS X
.DS_Store
